<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./css/otpstyle.css" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="./assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/demo/demo.css" rel="stylesheet" />
  <link href="js/otp.css" rel="stylesheet" />
</head>

<body class="">
    <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">We have sent a verification code on your email</h5>
            <span class="mobile-text">Please enter the code here<b class="text-danger"></b></span>
            <div class="d-flex flex-row mt-5">
                <form method="post" action="/otpverify">
                    <input type="text" name="otp" >
                    <input type="submit" value="Check Code">
                </form>
            </div>
            <div class="text-center mt-3">
                <span class="d-block mobile-text">Time remaining: <span id="countdown"></span></span>
            </div>
        </div>
    </div>

    <script>
      // Countdown duration in seconds
      var countdownDuration = 600;
      var countdown = countdownDuration;

      function updateCountdown() {
          var minutes = Math.floor(countdown / 60);
          var seconds = countdown % 60;
          var countdownText = minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');
          document.getElementById('countdown').innerText = countdownText;

          if (countdown === 0) {
              // Countdown reached zero, perform action
              alert("OTP Timeout!");
              window.location.href = "/login";
          } else {
              countdown--;
              setTimeout(updateCountdown, 1000); // Update countdown every second
          }
      }

      // Call the updateCountdown function to start the countdown
      updateCountdown();
    </script>
</body>

</html>
